html
  body
    h1= title
    div
      ul
        each film in films
          li
            img(src='https://image.tmdb.org/t/p/w342'+film.poster)
            div=film.name + ' / '+ film.nameRu +' '+ film.year
            div=film.description

