html
  body
    h1= title
    div
      ul
        each film in films
          li
            div(width=510)
              div
                strong=film.name + ' / '+ film.nameRu +' '+ film.year
              img(src='https://image.tmdb.org/t/p/w342'+film.poster)            
              div=film.description

